/* PALETA DE COLORES */

/*
 * 0B6E4F (Dartmouth grenn)
 * 262626 (Eerie black)
 * FCFAF9 (Seasalt)
 * 08A045 (Pigment green)
 * 6BBF59 (Mantis)
 */

.text-center{
    color: #FCFAF9 !important;
    padding-top: 5rem;
    font-size: xx-large;
}

.list-group{
    padding-left: 5rem !important;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 6.5rem;
}

.completed_task{
    text-decoration: line-through;
}

.list-group-item{
    color: #262626 !important;
}

.badge{
    color: #FCFAF9 !important;
    background-color: #0B6E4F;
}

.navbar{
    background-color: #262626;
}

.navbar-text{
    padding-left: 0.5rem;
    font-size: large;
    color: #FCFAF9 !important;
}

.navbar-form {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.navbar-form .form-control,
.navbar-form .btn {
    margin-left: 0.5rem;
}

.form-control{
    color: #262626 !important;
    background-color: #FCFAF9 !important;
    border: #FCFAF9 !important;
}

.btn-outline-success{
    --bs-btn-color: #0B6E4F !important;
    --bs-btn-border-color: #0B6E4F !important;  
}

.btn-outline-success:hover{
    color: #FCFAF9 !important;
    background-color: #0B6E4F !important;
    border-color: #0B6E4F !important;
}

.navbar-brand{
    font-size: small !important;
    padding-right: 0rem;
    color: #FCFAF9 !important;
}

.navbar-brand:hover, .navbar-brand:active {
    text-decoration: underline;
}

body{
    background-color: #0B6E4F !important;
}